body {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    
}

header {
    padding-top: 10px;
    text-align: center;
    background-color: tomato;
}

.main-page {
    margin: auto;
    width: 1024px;
    height: 1000px;
}

.category {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
    
}
.category a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.category img {
   
    width: 100px;
    height: 100px;
}

.pic, .aut {
    display: inline-grid;
}



.set {
    background-color: tomato;
    width: 600px;
    height: 170px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.wrapper{
    background-color:#f00;
    position:relative;
    width:100px;
    height:4px;
    user-select:none; 
    display:flex;
    align-items:center;
  }
  
  .range{
     background-color:#999;
    user-select:none; 
    padding: 7px 28px;
    width: 100px;
  }
  
  .dragable{
    width:8px;
    height:15px;
    user-select:none; transform:translate(-50%);
    position:relative;
    background-color:#000;
  }
  
  .cover{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100vh;
    background-color:#0000;
    z-index:1000;
  }

  .btn_header {
      border: none;
  }














































footer {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    background-color: tomato;
}

footer a{
    width: 80px;
    height: 40px;
    margin-top: 10px;
    border: 2px solid black;
    padding-top: 10px;
    text-decoration: none;
    list-style: none;
    color: white;
    background-color: turquoise;
}

.footer_setting_btn {
    border: none;
    border-radius: 40px;
    margin-bottom: 7px;
}